<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<table>
    <tr>
        <th>User Name</th>
        <th>Role</th>
        <th>Status</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:each="role : ${user.roles}"><p th:text="${role}"></p></td>
        <td th:text="${user.active}"></td>
        <td><a th:href="@{'/user/' + ${user.id}}">edit</a></td>
    </tr>
</table>
</body>
</html>